@import 'src/styles/_colors.scss';

.btnType {
  border-radius: 20px 20px 0 0;
  border: none;
  background-color: #fafbfd;
  color: $black;
  text-transform: uppercase;
  padding: 15px 45px;
  font-weight: 700;
  font-size: 12px;
  outline: none;
}

.btnTypeActive {
  color: $orange;
  background-color: #fefefe;
}
