@import 'src/styles/_breakpoints.scss';

.container {
  background-color: #fff;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
  padding: 40px 23px;
  font-size: 10px;
  line-height: 1.2;
  max-width: 436px;
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    width: 436px;
  }
}

.form {
  width: 265px;
  margin: 0 auto;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
