@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.chartbar {
  @media screen and (min-width: $tablet) {
    background: $white;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    height: 422px;
  }
}
