@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.back {
  text-align: left;
  margin-bottom: 15px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    min-width: 174px;
  }
}
.backBtn {
  padding: 6px 3px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover svg {
    fill: $black;
  }
  & svg {
    fill: $orange;
  }
}
.text {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: 15px;
    color: rgba(82, 85, 95, 0.7);
  }
}
