@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.reports,
.icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(82, 85, 95, 0.7);
  fill: rgba(82, 85, 95, 0.7);
}
.reports {
  margin-bottom: 43px;
  &:hover {
    color: $orange;
    text-decoration: none;
    & .icon {
      fill: $orange;
    }
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 205px;
  }
}
.icon {
  margin-left: 15px;
  display: inline-block;
}
