@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.form {
  @media screen and (min-width: $tablet) {
    width: 80%;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
  }
}
.formBox {
  @media screen and (min-width: $tablet) {
    display: flex;
    outline: 2px solid $backgroundGrey;
    border-radius: 16px 16px 16px 0px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.inputs {
  outline: 2px solid #ffffff;
  border-radius: 16px 16px 16px 0;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    margin: 0;
    outline: none;
    width: 100%;
  }
  & input {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    border: none;
    padding: 10px 15px;
    display: block;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    outline: none;
    @media screen and (min-width: $tablet) {
      width: 50%;
      padding: 15px 20px;
      border: none;
      min-width: 192px;
      border-right: 2px solid $backgroundGrey;
      &::placeholder {
        color: #c7ccdc;
      }
    }
  }
}
.balanceBox {
  width: 248px;
  margin: 0 auto 83px;
  outline: 2px solid #ffffff;
  border-radius: 22px;
  display: flex;
  @media screen and (min-width: $tablet) {
    margin: 0;
    width: 100px;
    outline: none;
    padding-right: 20px;
  }
}
.balance,
.confirm {
  padding: 12px 0;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.balance {
  border-right: 2px solid #ffffff;
  color: $black;
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  padding-right: 20px;

  & input {
    width: 70px;
    padding: 0;
    margin-right: 5px;
    text-align: right;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
.currency {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.confirm {
  width: 25%;
  background-color: $orange;
  color: $white;
  border-radius: 0 22px 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    justify-content: space-between;
    background-color: transparent;
  }
}
.btns {
  @media screen and (min-width: $tablet) {
    padding-left: 32px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 0;
  }
}
