@import 'src/styles/_colors.scss';

.type {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  p {
    margin: 0 5px;
    width: 90px;
  }
  button {
    border: none;
    background-color: transparent;
    .iconLeft,
    .iconRight {
      width: 10px;
      height: 10px;
    }
    .iconRight {
      transform: rotate(180deg);
    }
  }
}
