@import 'src/styles/_colors.scss';

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'),
    url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'),
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $grey;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
