@import 'src/styles/_breakpoints.scss';

.content {
  background-image: url(../../assets/bcg-grey-mobile.png);
  background-size: 100% 256px;
  background-repeat: no-repeat;
  background-position: top 56px right;
  height: 100%;
  padding-top: 56px;
  @media screen and (min-width: $tablet) {
    background-image: url(../../assets/bcg-grey-tablet.png);
    background-position: top right;
    background-size: 100% 526px;
    background-repeat: no-repeat;
    padding-top: 0;
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../../assets/bcg-grey-tablet.png);
    background-position: top right;
    background-size: 100% 526px;
    background-repeat: no-repeat;
    padding-top: 0;
  }
}
