@import 'src/styles/_breakpoints.scss';

.container {
  padding: 86px 40px 0px;
  margin-bottom: 50px;
  @media screen and (min-width: $tablet) {
    padding: 90px 145px 0px;
  }
  @media screen and (min-width: $desktop) {
    padding: 185px 120px 0px;
    margin-bottom: 0;
  }
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  @media screen and (min-width: $tablet) {
    padding-left: 53px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.18em;
  }
  @media screen and (min-width: $tablet) {
    padding-left: 70px;
  }
}
