@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.boxResume {
  background-color: $backgroundGrey;
  border-radius: 20px 20px 20px 0;
  max-width: 230px;
  margin-top: 40px;
  margin-left: 30px;
  text-transform: uppercase;
  min-height: 270px;
  h3 {
    margin: 0;
    color: $black;
    padding: 10px 20px;
    border-bottom: 1px solid $white;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    width: 230px;
    h3 {
      text-align: center;
    }
  }
}
.row {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    border-bottom: 1px solid $white;
  }
}
.notFound {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
