@import 'src/styles/_breakpoints.scss';
@import 'src/styles/_colors.scss';

.report {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  @media screen and (min-width: $tablet) {
    margin: -13px;
  }
}
.card {
  width: 84px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e5eb;
  margin-top: 20px;
  background-image: url(../../assets/bcg-icon.png);
  background-repeat: no-repeat;
  background-position: center 20px;
  p {
    margin: 0;
  }
  @media screen and (min-width: $tablet) {
    margin: 13px;
    border: none;
  }
}
.cardActive {
  background-image: url(../../assets/bcgActive-icon.png);
  background-repeat: no-repeat;
  background-position: center 20px;
  svg {
    fill: $orange;
  }
}
