@import 'src/styles/_breakpoints.scss';

.content {
  background-image: url(../assets/nut.png), url(../assets/half-nut.png);
  background-size: auto 83px, auto 83px;
  background-repeat: no-repeat;
  background-position: 10% bottom, right 104px;
  height: 100%;
  @media screen and (min-width: $tablet) {
    background-image: url(../assets/two-nuts.png), url(../assets/nuts.png);
    background-position: 10% 100%, left 28px;
    background-size: 183px auto, auto 232px;
    background-repeat: no-repeat, repeat-x;
    height: 100vh;
  }
}
.box {
  padding-bottom: 76px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 192px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }
}
.boxDesktop {
  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 117px 85px 142px;
  }
}
