@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.content {
  padding: 30px 10px 60px;
  text-align: center;
  font-size: 12px;
  color: rgba(82, 85, 95, 0.7);
  @media screen and (min-width: $tablet) {
    padding: 40px 26px 64px;
    background-image: url(../assets/two-nuts.png);
    background-position: 90% 95%;
    background-size: 183px auto;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 100px;
    padding-right: 100px;
    background-image: none;
    background-image: url(../assets/nuts.png);
    background-position: center bottom;
    background-size: 100% 232px;
    background-repeat: no-repeat;
  }
}
.balanceReportBox {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 70px;
    margin-bottom: 58px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 400px;
    margin-bottom: 10px;
  }
}
.balanceBox {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
.balanceBorder {
  width: 248px;
  margin: 0 auto 10px;
  border: 2px solid $white;
  border-radius: 22px;
  display: flex;
  margin-bottom: 50px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    border: none;
  }
}
.balance,
.confirm {
  width: 50%;
  padding: 12px 0;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.balance {
  border-right: 2px solid #ffffff;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  & input {
    width: 70px;
    padding: 0;
    margin-right: 5px;
    text-align: right;
    border: none;
    background-color: transparent;
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    border: 2px solid #ffffff;
    border-radius: 16px;
    margin-right: 15px;
  }
}
.confirm {
  background-color: $orange;
  color: $white;
  border-radius: 0 22px 22px 0;
  &:disabled {
    background-color: transparent;
    color: $grey;
  }
  @media screen and (min-width: $tablet) {
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 12px 18px;
    width: auto;
  }
}

.boxTransactions {
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}
.boxDesktop {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.transactionsContent {
  border: 2px solid #ffffff;
  @media screen and (min-width: $tablet) {
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    background-color: $white;
    padding: 28px 30px 48px;
    & .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 48px;
      @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
      }
    }
  }
}

.btns {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn {
  background-color: $backgroundGrey;
  border: none;
  border: 1px solid $white;
  color: $black;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $orange;
  }
}
