@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.content {
  padding: 30px 10px 60px;
  text-align: center;
  font-size: 12px;
  color: rgba(82, 85, 95, 0.7);
  @media screen and (min-width: $tablet) {
    min-height: 100vh;
    padding: 40px 26px 64px;
    background-image: url(../assets/two-nuts.png);
    background-position: 95% 100%;
    background-size: 183px auto;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 110px;
    padding-right: 110px;
    background-image: none;
    background-image: url(../assets/nuts.png);
    background-position: center bottom;
    background-size: 100% 232px;
    background-repeat: no-repeat;
  }
}
.dashboard {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}
.balanceDateBox {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 85px;
    width: 100%;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 158px;
  }
}
.sum {
  padding: 15px 29px;
  color: $black;
  outline: 2px solid $white;
  font-weight: 700;
  display: inline-block;
  border-radius: 22px;
  @media screen and (min-width: $tablet) {
    margin-left: 20px;
    border-radius: 16px;
  }
}
.categories {
  @media screen and (min-width: $tablet) {
    background-color: $white;
    padding: 20px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    padding: 20px 235px;
  }
}
