@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.helper {
  padding: 41px 25px;
  color: $white;
  font-size: 14px;
  border-radius: 30px;
  text-align: left;
  position: relative;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 282px;
  max-width: 292px;
  transform: translate(-50%, -50%);
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  @media screen and (min-width: $tablet) {
    top: 145px;
    left: 160px;
    transform: translate(0%, 0%);
  }
  @media screen and (min-width: $desktop) {
    left: 460px;
  }
}
.helper:before {
  content: '';
  border: solid transparent;
  position: absolute;
  left: 8px;
  bottom: 100%;
  border-bottom-color: #1d346a;
  border-width: 9px;
  margin-left: 70px;
}
.text {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}
