@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.btns {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.btn {
  background-color: $backgroundGrey;
  border: none;
  border: 1px solid $white;
  color: $black;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $orange;
  }
}
