@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.report {
  background-color: $white;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  display: flex;
  padding: 7px;
  font-size: 14px;
  font-weight: 700;
  color: $grey;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 30px;
  }
}
.incomes,
.expenses {
  width: 50%;
  padding: 13px 7px;
  p:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    p {
      margin-bottom: 0;
    }
    .total {
      margin-left: 15px;
    }
  }
  .total {
    & span {
      display: inline-block;
      letter-spacing: 0.04em;
      margin: 0 5px;
    }
  }
}
.incomes {
  border-left: 1px solid #e0e5eb;

  .total {
    color: $green;
  }
}
.expenses {
  @media screen and (min-width: $tablet) {
    justify-content: flex-end;
  }
  .total {
    color: $red;
  }
}
