@import 'src/styles/_breakpoints.scss';

.container {
  padding: 0 10px;
  @media screen and (min-width: $tablet) {
    padding: 0 26px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
}
