@import 'src/styles/_colors.scss';

.container {
  margin-bottom: 30px;
}
.google {
  text-align: center;
  padding: 0 18px;
}
.btn {
  width: 120px;
  background-color: #f6f7fb;
  border-radius: 26px;
  filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.2));
  padding: 11px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: $black;
  margin: 0 auto;
  &:hover {
    color: $black;
    text-decoration: none;
    filter: drop-shadow(1px 2px 3px rgba(170, 178, 197, 0.8));
  }
}
.icon {
  margin-right: 10px;
}
.text {
  width: 265px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 24px;
}
