@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.header {
  background-color: $backgroundGrey;
  padding: 12px 10px;
  width: 100%;
  position: fixed;
  color: #fff;
  @media screen and (min-width: $tablet) {
    position: relative;
  }
  @media screen and (min-width: $tablet) {
    padding: 12px 36px;
  }
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forAuth {
  display: flex;
  align-items: center;
}
.user {
  width: 32px;
  height: 32px;
  background-color: $orange;
  color: $white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.name {
  display: none;
  color: $orange;
  padding: 7px 15px 7px 0px;
  text-transform: capitalize;
  margin: 0;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
.exit {
  background-color: transparent;
  outline: none;
  border: none;
  border-left: 1px solid $backgroundGrey;
  & svg {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
  & p {
    cursor: pointer;
    color: $grey;
    display: none;
    margin-bottom: 0;
    text-decoration: underline;
    padding-left: 20px;
    @media screen and (min-width: $tablet) {
      display: block;
    }
    &:hover {
      color: $orange;
    }
  }
}
