@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.date {
  color: $grey;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 70px;
  @media screen and (min-width: $tablet) {
    margin: 0;
    width: 20%;
    padding: 10px 0;
  }
  & svg {
    margin-right: 10px;
  }
}
