@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.boxTable {
  @media screen and (min-width: $tablet) {
    height: 382px;
    overflow: auto;
    thead th {
      position: sticky;
      top: -1px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 760px;
  }
}
.table {
  font-size: 8px;
  color: $grey;
  text-align: left;
  width: 100%;

  tr {
    border-bottom: 1px solid $backgroundGrey;
    width: 25%;
  }

  .title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  @media screen and (max-width: $to-tablet) {
    thead,
    .date {
      display: none;
    }
    .nullCells {
      display: none;
    }
  }
  @media screen and (min-width: $tablet) {
    border-spacing: 0;
    border-bottom: none;

    thead {
      border-radius: 20px 20px 0 0;
    }
    th {
      background-color: $backgroundGrey;
      font-weight: 700;
      font-size: 12px;
      padding: 15px 20px;
      text-transform: uppercase;
      &:first-child {
        border-top-left-radius: 20px;
      }
      &:last-child {
        border-top-right-radius: 20px;
      }
      &.sum {
        text-align: right;
      }
    }
    td {
      padding: 7px 20px;
      font-size: 12px;
      font-weight: 400;
      vertical-align: middle;
      border-bottom: 2px solid $backgroundGrey;
      & .title {
        font-weight: 400;
        margin: 0;
      }
    }
    .nullCells {
      td {
        padding: 15px 20px;
      }
    }
    .dateMobile {
      display: none;
    }
  }
  .amount {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.04em;
    width: 120px;
    text-align: end;
    & .currency {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      width: auto;
      min-width: 140px;
      & .currency {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .red {
    color: $red;
  }
  .green {
    color: $green;
  }
}
.boxDelete {
  padding: 0;
}
.delete {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  & svg {
    fill: $grey;
  }
  &:hover svg {
    fill: $orange;
  }
}
.notFound {
  text-align: center;
  font-size: 20px;
}
.loading {
  display: flex;
  justify-content: center;
  width: 100%;
}
.row {
  display: inline-block;
  margin: 0 5px;
  &:hover {
    color: $orange;
  }
}
