@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';

.balanceBox {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
.balanceBorder {
  width: 248px;
  margin: 0 auto 10px;
  border: 2px solid $white;
  border-radius: 22px;
  display: flex;
  margin-bottom: 50px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    border: none;
  }
}
.balance,
.confirm {
  width: 50%;
  padding: 12px 0;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.balance {
  border-right: 2px solid #ffffff;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-weight: 700;
  & input {
    width: 70px;
    padding: 0;
    margin-right: 5px;
    text-align: right;
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 700;
  }
  @media screen and (min-width: $tablet) {
    border: 2px solid #ffffff;
    border-radius: 16px;
    margin-right: 15px;
  }
}
.confirm {
  background-color: $orange;
  color: $white;
  border-radius: 0 22px 22px 0;
  &:disabled {
    background-color: transparent;
    color: $grey;
  }
  @media screen and (min-width: $tablet) {
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 12px 18px;
    width: auto;
  }
}
