@import 'src/styles/_colors.scss';

.switcher {
  margin: 0 !important;
  [class='bp3-control-indicator'] {
    outline: none !important;
  }
  input {
    &:checked ~ [class='bp3-control-indicator'] {
      background-color: $orange !important;
    }
    & ~ [class='bp3-control-indicator'] {
      background-color: $white !important;
      color: $orange;
    }
  }
}
